<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="1018316827970-vkac7munolj1mptrsvsvpt50pq6b6mv3.apps.googleusercontent.com">

    <title>Google App Engine - Caza del Tesoro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
      #marker {
        width: 20px;
        height: 20px;
        border: 1px solid #088;
        border-radius: 10px;
        background-color: #0FF;
        opacity: 0.5;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Caza del Tesoro</a>

                </li>
                <li>
                   <!-- <a href="/login"> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a> -->
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block content %}
        {% endblock content %}
    </div>

</div>

<!-- Subida de imagen a imgur -->
<script>
    fileInputElement = document.getElementById('inputImage');
    
    fileInputElement.onchange = () => {
        var formData = new FormData();
        formData.append("image", fileInputElement.files[0]);
    
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://api.imgur.com/3/image");
        xhr.setRequestHeader("Authorization","Client-ID afa2c882ce7b929");
        xhr.onreadystatechange = () => {
            document.getElementById("image").src = "";
            if (xhr.readyState === 4) {
                res = JSON.parse(xhr.response);
                console.log(res);
                document.getElementById("image").src = res.data.link;
                document.getElementById("inputImageId").value = res.data.link;
            }
        }
        
        xhr.send(formData)
        document.getElementById("image").src = "https://i.imgur.com/vFry1VC.gif";
    }
</script>

<!-- Consulta temperatura de Málaga 
<script>
	window.onload = () => {
		
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "https://api.openweathermap.org/data/2.5/weather?id=2514256&APPID=416079c5ba5e20a7a1df6fa2d32fc9f8&units=metric");
		
        xhr.onreadystatechange = () => {
        	
            if (xhr.readyState === 4) {
            	
            	res = JSON.parse(xhr.response);
                console.log(res);
            	
                document.getElementById("weatherMain").textContent = res.weather[0].main;
                document.getElementById("weatherDesc").textContent = res.weather[0].description;
                document.getElementById("weatherTemp").textContent = res.main.temp + "ºC";
                document.getElementById("weatherIcon").src = "https://openweathermap.org/img/w/" + res.weather[0].icon + ".png"

            }
        }
        
        xhr.send()
		
	}


</script>
-->


<!-- /.container -->

<!-- jQuery Version 1.11.1 -->
<script src="/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.carousel').carousel();
</script>

</body>

</html>
