{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Crear Juego <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputNombreJuego" class="col-sm-3 control-label">Nombre del juego</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputNombreJuego" id="inputNombreEvento" placeholder="Nombre del evento">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion" class="col-sm-3 control-label">Descripcion</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDescripcionJuego" id="inputDescripcionJuego" placeholder="Descripcion del evento">
                </div>
            </div>
  		<div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>


{% endblock content %}