{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Crear Evento <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputNombreEvento" class="col-sm-3 control-label">Nombre del evento</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputNombreEvento" id="inputNombreEvento" placeholder="Nombre del evento">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion" class="col-sm-3 control-label">Descripcion</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDescripcion" id="inputDescripcion" placeholder="Descripcion del evento">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLongitud" class="col-sm-3 control-label">Longitud</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputLongitud" id="inputLongitud"
                           placeholder="Longitud">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLatitud" class="col-sm-3 control-label">Latitud</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputLatitud" id="inputLatitud"
                           placeholder="Latitud">
                </div>
            </div>
  		<div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>
<div id="map" class="map"></div>
<script type="text/javascript">
    const markerSource = new ol.source.Vector();

    let map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([-4.0000000,  40.0000000]),
        zoom: 6,
      })		
    });
    map.on("click", function(evt) {
    	  var lonlat = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
    	  var lonC = lonlat[0];
    	  var latC = lonlat[1];
    	  document.getElementById('inputLongitud').value=lonC
          document.getElementById('inputLatitud').value=latC

		  
    	  alert(lonTrunc);
    	});
 </script>

{% endblock content %}