{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Crear Mensaje <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputText" class="col-sm-3 control-label">Origen</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputOrigen" id="inputOrigen" placeholder="emailOrigen">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDestino" class="col-sm-3 control-label">Destino</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDestino" id="inputDestino"
                           placeholder="destinatario">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTexto" class="col-sm-3 control-label">Texto</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputTexto" id="inputTexto"
                           placeholder="Mensaje">
                </div>
            </div>
            <div class="form-group">
                <label for="inputImageId" class="col-sm-3 control-label">Link imagen</label>

                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" name="inputImageId" id="inputImageId"
                           placeholder="Link imagen">
                </div>
            </div>
  		<div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
    	<form id="imgur">
            <img id="image" style="max-width: 500px; max-height: 400px" src="" alt="Image">
			<input style="padding-top: 15px; padding-bottom: 15px" type="file" id="inputImage" class="imgur" accept="image/*" data-max-size="5000"/>
		</form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}