{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Editar Juego <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputNombreEvento" class="col-sm-3 control-label">Nombre del juego</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputNombreJuego" id="inputNombreJuego" placeholder="Nombre del juego" value="{{ juego.Nombre }}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion" class="col-sm-3 control-label">Descripcion</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDescripcion" id="inputDescripcion" placeholder="Descripcion del juego" value="{{ juego.Descripcion }}"/>
                </div>
            </div>
  		<div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Actualizar</button>
        </div>
       <div class="form-group text-center">
               <a class="btn btn-danger" href="/editJuego/{{ juego.key.id() }}/eliminar" role="button">Eliminar</a>    
      </div>
        </form>
    </div>
	<br>

    
</form>

{% endblock content %}