{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Editar Evento <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputNombreEvento" class="col-sm-3 control-label">Nombre del evento</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputNombreEvento" id="inputNombreEvento" placeholder="Nombre del evento" value="{{ evento.Nombre }}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion" class="col-sm-3 control-label">Descripcion</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDescripcion" id="inputDescripcion" placeholder="Descripcion del evento" value="{{ evento.Descripcion }}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLongitud" class="col-sm-3 control-label">Longitud</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputLongitud" id="inputLongitud"
                           placeholder="Longitud" value="{{ evento.Longitud }}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLatitud" class="col-sm-3 control-label">Latitud</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputLatitud" id="inputLatitud"
                           placeholder="Latitud" value="{{ evento.Latitud }}"/>
                </div>
            </div>
  		<div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Actualizar</button>
        </div>
       <div class="form-group text-center">
               <a class="btn btn-danger" href="/editEvento/{{ evento.key.id() }}/eliminar" role="button">Eliminar</a>    
      </div>
        </form>
    </div>    
</form>
</div>
{% if ganadores.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Juego</th>
            <th>Evento</th>
            <th>Ganador</th>
            </thead>
            <tbody>
            {% for ganador in ganadores %}
            <tr>
                <td>{{ ganador.idJuego }}</td>
                <td>{{ ganador.idEvento}}</td>
                <td>{{ ganador.Ganador }}</td>
	       </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen ganadores todavia.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}


{% endblock content %}