{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="col-lg-12 text-center">
		<h1>
			Evento <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</h1>
	</div>
	<br />
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form class="form-horizontal" role="form" action="" method="post">
			<div class="form-group">
				<label for="inputNombreEvento" class="col-sm-3 control-label">Nombre
					del evento</label>
				<div class="col-sm-6">
					<output class="form-control" name="outputNombreEvento"
						id="outputNombreEvento">{{evento.Nombre}}</output>
				</div>
			</div>
			<div class="form-group">
				<label for="outputDescripcion" class="col-sm-3 control-label">Descripcion</label>

				<div class="col-sm-6">
					<output class="form-control" name="outputDescripcion"
						id="outputDescripcion">{{evento.Descripcion}}</output>
				</div>
			</div>
			<div class="form-group">
				<label for="outputLongitud" class="col-sm-3 control-label">Longitud</label>

				<div class="col-sm-6">
					<output class="form-control" name="outputLongitud"
						id="outputLongitud">{{evento.Longitud}}</output>
				</div>
			</div>
			<div class="form-group">
				<label for="outputLatitud" class="col-sm-3 control-label">Latitud</label>

				<div class="col-sm-6">
					<output class="form-control" name="outputLatitud"
						id="outputLatitud">{{evento.Latitud}}</output>
				</div>
			</div>
			
		</form>
	</div>


<div id="map" class="map"></div>

<script type="text/javascript">
    const markerSource = new ol.source.Vector();
	var lon = {{evento.Longitud}};
	var lat = {{evento.Latitud}};
    let map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([lon, lat]),
        zoom: 6,
      })		
    });
    truncateDecimals = function (number, digits) {
        var multiplier = Math.pow(10, digits),
            adjustedNum = number * multiplier,
            truncatedNum = Math[adjustedNum < 0 ? 'ceil' : 'floor'](adjustedNum);

        return truncatedNum / multiplier;
    };
    map.on("click", function(evt) {
    	  var lonlat = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
    	  var lonC = lonlat[0];
    	  var latC = lonlat[1];
    	  var lonTrunc = truncateDecimals(lonC,1);
    	  var latTrunc = truncateDecimals(latC,1);
    	  if(lonTrunc == truncateDecimals(lon,1) && latTrunc == truncateDecimals(lat,1)){
    		  window.location.replace("/addGanador/{{juego.key.id()}}/{{ evento.key.id() }}");
    	  }
    	  alert(lonTrunc);
    	});
 </script>
<!-- 
<script type="text/javascript">

var map = new Map({
  controls: defaultControls().extend([new MousePosition({
    coordinateFormat: createStringXY(4),
  })]),
  layers: [
    new TileLayer({
      source: new OSM()
    })
  ],
  target: "map",
  view: new View({
    center: [0, 0],
    zoom: 2
  })
});

var coordinatesOuput = document.getElementById("coord"); 
map.on("click", function(evt) {
  coordinatesOuput = evt.coordinate;
  alert(coordinatesOuput);
});
</script>
-->

{% endblock content %}