{% extends "base.html" %}
{% block content %}
<div class="alert alert-success"  role="alert">
	<label>Estas registrado como {{user}}</label>
	<a class="btn btn-primary" href="{{log_out}}" role="button">Sign out</a>
</div>
   <div class="col-lg-12 text-center">
        <h1>Listado de juegos <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
<div>
    <button type="button" class="btn btn-primary center-block">
  			Juegos <span class="badge badge-light">{{juegos.count()}}</span>
	</button>
    </div>


{% if juegos.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Creador</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            </thead>
            <tbody>
            {% for juego in juegos %}
            <tr>
                <td>{{ juego.Creador }}</td>
                <td>{{ juego.Nombre }}</td>
                <td>{{ juego.Descripcion }}</td>
                <td><a class="btn btn-danger" href="/editJuego/{{ juego.key.id() }}" role="button">Editar</a></td> 
                <td><a class="btn btn-warning" href="/eventos/{{ juego.key.id() }}" role="button">Ver</a></td>   
	       </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen juegos todavia.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

<div>
	<a class="btn btn-primary pull-right" href="/crearJuego" >Crear Juego
    	<span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
	</a>
</div>
<a href="https://twitter.com/intent/tweet?button_hashtag=cazatesoroFMV&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Hastag CazatesoroFMV</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" href="https://twitter.com/cazatesoro1?ref_src=twsrc%5Etfw">Timeline Cazatesoro</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <!-- <div align-content="center" margin:auto><button onclick="addMarker(8.54, 47.37)">add marker at 8.54, 47.37</button></div>
<div id="map" class="map"></div>-->
    <script type="text/javascript">
    const markerSource = new ol.source.Vector();
    addMarker(8.54, 47.37)
    var markerStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 46],
        anchorXUnits: 'fraction',
        anchorYUnits: 'pixels',
        opacity: 0.75,
        src: 'http://maps.gstatic.com/intl/de_de/mapfiles/ms/micons/red-pushpin.png'
      }))
    });

    let map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        }),
        new ol.layer.Vector({
          source: markerSource,
          style: markerStyle,
        }),
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([6.661594, 50.433237]),
        zoom: 3,
      })
		
    });
    
      function addMarker(lon, lat) {
        console.log('lon:', lon);
        console.log('lat:', lat);

        var iconFeatures = [];

        var iconFeature = new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([lon, lat], 'EPSG:4326',
            'EPSG:3857')),
          name: 'Null Island',
          population: 4000,
          rainfall: 500
        });

        markerSource.addFeature(iconFeature);
      }

    </script>
<script src="578116069924-5p2br5n0pji53frjf0h9uhjspfrhi5ui.apps.googleusercontent.com" async defer></script>
<!-- 
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        var id_token = googleUser.getAuthResponse().id_token;
        console.log('ID_TOKEN:');
        console.log(id_token);
        document.getElementById("signout").style.display = 'block';
        document.getElementById("commentForm").style.display = 'block';
        document.getElementById("avisoLogin").style.display = 'none';
        document.getElementById("inputUser").value = profile.getName();
        document.getElementById("inputEmail").value = profile.getEmail();
        
        var comentarios = document.getElementsByClassName("comentario");
        disableEditComments(comentarios, profile.getEmail())
    }
    
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
            document.getElementById("signout").style.display = 'none';
            document.getElementById("commentForm").style.display = 'none';
            document.getElementById("avisoLogin").style.display = 'block';
            disableAllEditComments()
        });
    }
</script>
-->
<script>
	function disableEditComments(comentarios, email) {
		for(let comentario of comentarios) {
			if(comentario.children[1].textContent == email) {
				comentario.children[3].children[0].style.display = 'block';
			}
		}
	}
	
	function disableAllEditComments() {
        var comentarios = document.getElementsByClassName("comentario");
		for(let comentario of comentarios) {
			comentario.children[3].children[0].style.display = 'none';
		}
	}
</script>



{% endblock content %}