{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Mis mensajes <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
    
 <a class="btn btn-primary" href="/crearMensaje">
    Crear Mensaje
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>
</div>
<br/>

{% if mensajes.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Origen</th>
            <th>Destino</th>
            <th>Texto</th>
            <th>Fecha creacion</th>
            <th>Archivo Adjunto</th>
            </thead>
            <tbody>
            {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.origen }}</td>
                <td>{{ mensaje.destino }}</td>
                <td>{{ mensaje.contenido }}</td>
                <td>{{ mensaje.fechaCreacion.strftime('%Y-%m-%d') }}</td>
                <td><a  href="/verImagen/{{ mensaje.key().id() }}">{{ mensaje.imagen }}</a></td>  
	            <td>
	             <a class="btn btn-primary" href="/responderMensaje/{{mensaje.key().id()}}">
  				  Responder
   				 <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				</a>
	            </td>
	            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen mensajes todavia.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

{% endblock content %}