{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Evento <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputNombreEvento" class="col-sm-3 control-label">Nombre del evento</label>
                <div class="col-sm-6">
                    <output class="form-control" name="outputNombreEvento" id="outputNombreEvento">{{evento.Nombre}}</output>
                </div>
            </div>
            <div class="form-group">
                <label for="outputDescripcion" class="col-sm-3 control-label">Descripcion</label>

                <div class="col-sm-6">
                    <output class="form-control" name="outputDescripcion" id="outputDescripcion">{{evento.Descripcion}}</output>
                </div>
            </div>
            <div class="form-group">
                <label for="outputLongitud" class="col-sm-3 control-label">Longitud</label>

                <div class="col-sm-6">
                    <output class="form-control" name="outputLongitud" id="outputLongitud">{{evento.Longitud}}</output>
                </div>
            </div>
            <div class="form-group">
                <label for="outputLatitud" class="col-sm-3 control-label">Latitud</label>

                <div class="col-sm-6">
                    <output class="form-control" name="outputLatitud" id="outputLatitud">{{evento.Latitud}}</output>
                </div>
            </div>
        </form>
    </div>

<div id="map" class="map"></div>
<script type="text/javascript">

    const markerSource = new ol.source.Vector();
	var lon = {{evento.Longitud}};
	var lat = {{evento.Latitud}};
    let map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([lon, lat]),
        zoom: 7,
      })		
    });
	
	var center = map.getView().getCenter();
	var radius = 50000.0;
    var circle = new ol.geom.Circle(center, radius);
    var circleFeature = new ol.Feature(circle);

    // Source and vector layer
    var vectorSource = new ol.source.Vector({
        projection: 'EPSG:4326'
    });
    vectorSource.addFeature(circleFeature);
    var vectorLayer = new ol.layer.Vector({
        source: vectorSource
    });
    map.addLayer(vectorLayer);
    </script>

	{% endblock content %}