{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Mensaje de respuesta<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
 </div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputOrigen" class="col-sm-3 control-label">Origen del mensaje</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputOrigen" id="inputOrigen" placeholder="Origen del mensaje"  readonly value="{{ mensaje.origen }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDestino" class="col-sm-3 control-label">Destino del mensaje</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputDestino" id="inputDestino" placeholder="inputDestino"  readonly value="{{ mensaje.destino}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTexto" class="col-sm-3 control-label">Texto del mensaje</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputTexto" id="inputTexto"
                           placeholder="texto" readonly value="{{ mensaje.contenido }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTextoRespuesta" class="col-sm-3 control-label">Mensaje de respuesta</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputTextoRespuesta" id="inputTextoRespuesta"
                           placeholder="escriba el mensaje de respuesta" value="">
                </div>
            </div>
           
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
 {% endblock content %}