{% extends "base.html" %}
{% block content %}
<div class="alert alert-success"  role="alert">
	<label>Tenemos ganador: {{user}}</label>
</div>

<img src="https://i.imgur.com/alrxNag.gif" alt="Funny image">


{% endblock content %}
