{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Ver Imagen <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div><br/>
</div>
<br/>
 <div class="form-group">
                <label for="inputImageId" class="col-sm-3 control-label">Link imagen</label>

                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" name="inputImageId" id="inputImageId"
                            placeholder="Link imagen" value="{{ mensaje.imagen }}">
                </div>
            </div>
<div class="col-md-6">
        <form id="imgur">
            <img id="image" style="max-width: 500px; max-height: 400px" src="{{ mensaje.imagen }}" alt="Image">
            <input style="margin-top: 15px" type="file" id="inputImage" class="imgur" accept="image/*" data-max-size="5000"/>
        </form>
    </div>